<%= form_for(@set_template) do |f| %>
  <% if @set_template.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@set_template.errors.count, "error") %> prohibited this set_template from being saved:</h2>

      <ul>
      <% @set_template.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
