<h1>Listing set_templates</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @set_templates.each do |set_template| %>
  <tr>
    <td><%= link_to 'Show', set_template %></td>
    <td><%= link_to 'Edit', edit_set_template_path(set_template) %></td>
    <td><%= link_to 'Destroy', set_template, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Set template', new_set_template_path %>
